@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  top: 0;
  bottom: 0;
  height: 100vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: "#FBFBFB";
}

.invert {
  filter: invert(100%) !important;
}

#app:hover {
  cursor: pointer;
}

.dividing-line {
  border-bottom: 1px dashed black;
  width: 100%;
}

.my-contain {
  pointer-events: none;
  top: 0;
  bottom: 0px;
  width: 100vw;
}
#cc-text {
  margin: auto;

  top: 0;
  bottom: 0;
  height: auto;
  position: absolute;
}

.logo {
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
  position: absolute;
}

.logo-min {
  width: 130px;
}

.logo-extended {
  width: 120px;
}
.contain {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  height: 100%;
}

.icon {
  width: 30px;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  color: black;
}

.info {
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  position: absolute;
  background: #060606de;
  color: black;
  user-select: text;
  transition: opacity 300ms ease-in-out;
  transform: scale(0);
  opacity: 0;
}
.collage {
  position: absolute;
  z-index: -1;
}

.info-container {
  top: 30px;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 550px;
  position: absolute;
  background-color: #fbfbfb;
  background-image: url('./background.svg');
  background-size: cover;

  transform: translateY(100vh);
  transition: all 300ms ease-in-out;
}

@media only screen and (max-width: 576px) {
  .b-canvas {
    transform: scale(1.5);
  }

  .info-container {
    top: 30px;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90vw;
    height: 550px;
    position: absolute;
    transform: translateY(100vh);
    transition: all 300ms ease-in-out;
  }
}

.another-container {
  height: 100%;
  top: 0;
  bottom: 0;
}
a {
  color: black;
}
a:hover {
  color: black;
}

p {
  font-size: 0.6em;
}

.icon:hover {
  cursor: pointer;
}
