body {
    padding:0;
    margin:0;
}

#sketchpad {
    position:absolute;
    z-index:10;
    mix-blend-mode: exclusion;
}

#background {
    background-image: url('img/.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100%;
    width:100%;
    position:absolute;

}

#caption{
    bottom:0;
    right:0;
    position: absolute;
    font-size:1em;
    font-family:'Courier New', Courier, monospace;
    color:white;
    padding:1em;
}

  .logo {
      top:0;
      left:0;
      width:10em;
      padding:0.5em;
      position: absolute;
  }

@media (orientation: portrait) {
    .logo {
        right:0;
        margin:0 auto;
        width:40vw;
    }

    #caption {
        font-size:0.8em;
        margin:auto;
        left:0;
        text-align:center;
    }    

  }
